*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(109, 169, 248);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    margin: 40px 0;
    text-align: center;
}

#selectLevel{
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    color: white;
}

select,
button{
    margin-left: 20px;
    padding: 5px;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    flex-direction: column;
}

.facile{
    height: 420px;
    width: 420px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.medio{
    height: 540px;
    width: 540px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.difficile{
    height: 600px;
    width: 600px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.hide{
    display: none;
}

.box{
    height: 60px;
    width: 60px;
    border: 1px solid white;
    background-color: rgb(71, 133, 148);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.clicked{
    background-color: rgb(67, 172, 90);
}

.boom{
    background-color: brown;
}

.blockgame1{
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    height: 420px;
    width: 420px;   
}

.blockgame2{
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    height: 540px;
    width: 540px;   
}

.blockgame3{
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    height: 600px;
    width: 600px;  
}

h1{
    color: white;
}